<form class="form-horizontal">
	<fieldset class="control-group">
		<ledgend>New Page</ledgend>
		<% if(input != null ){%>
			<label id="lblPath" for="txtPath">Path Text:</label>
			<input type="text" id="txtPath"/>
		<% }%>
		
		<label id="lblTitle" for="txtTitle">Page Title:</label>
		<input type="text" id="txtTitle"/>
	
		<label id="lblBody" for="areDescription">Body:</label>
		<textarea id="areBody"/>
		
		<a id="savePage" class="btn btn-primary">
			<i class="icon-pencil icon-white"/>
			save
		</a>
		<a id="cancelPage" class="btn">
			cancel
		</a>
		
	</fieldset>
</form>